<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mutant API- Fellipe Nunes</title>
  </head>
  <body>
    <h1>Mutant API</h1>
    <button id="baixarButton">Baixar</button>
    <button id="salvarButton">Salvar</button>
    <pre id="showApi"><%- box %></pre>
  </body>
  <script src="main.js"></script>
</html>